{{> header}}



{{#editor}}
    <div class="approval">
        <div class="redirect-to-lobby" style="display: flex; margin-left: 8%; margin-bottom: 1rem">
            <a href="/lobby/list">
                <img src="../public/assets/arrow-right.png"/>
                Ir al lobby
            </a>
        </div>
        <div class="banner">
            <img src="/public/assets/sugeridas.png">
        </div>
        <div class="list">
            {{#questions}}
            <div class="accordion" id="accordion">
                <input type="checkbox" id='{{id_pregunta}}'/>
                <label class="accordion-label" for='{{id_pregunta}}' name={{id_pregunta}}>{{pregunta}}</label>
                <div class="accordion-content">
                    <form method="post" class="form-container-question" id="form-question-editor">
                        <div class="form-field">
                            <label class="form-label" for="categoria-question{{id_pregunta}}">Categoría:</label>
                            <select class="form-select-questions" id="categoria-question{{id_pregunta}}">
                                <option value="1">Ciencia</option>
                                <option value="2">Historia</option>
                                <option value="3">Arte</option>
                                <option value="4">Geografía</option>
                                <option value="5">Entretenimiento</option>
                                <option value="6">Deporte</option>
                            </select>
                            <span id="categoria-error-question{{id_pregunta}}" class="error"></span>
                        </div>

                        <input type="text" id='fecha-creacion-question{{id_pregunta}}' hidden="hidden" value={{fecha_creacion}}/>

                        <div class="form-field">
                            <label class="form-label" for="pregunta-question{{id_pregunta}}">Pregunta:</label>
                            <input class="form-input" type="text" id="pregunta-question{{id_pregunta}}">
                            <span id="pregunta-error-question{{id_pregunta}}" class="error"></span>
                        </div>

                        <div class="form-field">
                            <label class="form-label" for="respuesta1-question{{id_pregunta}}">Respuesta 1:</label>
                            <input class="form-input" type="text" id="respuesta1-question{{id_pregunta}}">
                            <input type="text" id='answer-one-question{{id_pregunta}}' hidden="hidden"/>
                            <span id="respuesta1-error-question{{id_pregunta}}" class="error"></span>
                        </div>

                        <div class="form-field">
                            <label class="form-label" for="respuesta2-question{{id_pregunta}}">Respuesta 2:</label>
                            <input class="form-input" type="text" id="respuesta2-question{{id_pregunta}}">
                            <input type="text" id='answer-two-question{{id_pregunta}}' hidden="hidden"/>
                            <span id="respuesta2-error-question{{id_pregunta}}" class="error"></span>
                        </div>

                        <div class="form-field">
                            <label class="form-label" for="respuesta3-question{{id_pregunta}}">Respuesta 3:</label>
                            <input class="form-input" type="text" id="respuesta3-question{{id_pregunta}}">
                            <input type="text" id='answer-three-question{{id_pregunta}}' hidden="hidden"/>
                            <span id="respuesta3-error-question{{id_pregunta}}" class="error"></span>
                        </div>


                        <div class="form-field">
                            <label class="form-label" for="respuesta4-question{{id_pregunta}}">Respuesta 4:</label>
                            <input class="form-input" type="text" id="respuesta4-question{{id_pregunta}}">
                            <input type="text" id='answer-four-question{{id_pregunta}}' hidden="hidden"/>
                            <span id="respuesta4-error-question{{id_pregunta}}" class="error"></span>
                        </div>

                        <div class="form-field">
                            <label class="form-label" for="correcta-question{{id_pregunta}}">Respuesta Correcta:</label>
                            <select class="form-select-questions" id="correcta-question{{id_pregunta}}">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <span id="correcta-error-question{{id_pregunta}}" class="error"></span>
                        </div>


                        <div class="redirect">
                            <button class="button button-small deny-question" type="button" id="deny-question{{id_pregunta}}" name={{id_pregunta}}>Rechazar</button>
                            <button class="button button-small accept-question" type="button" id="accept-question{{id_pregunta}}" name={{id_pregunta}}>Aceptar</button>
                        </div>

                    </form>
                </div>
            </div>
            {{/questions}}
        </div>
    </div>
{{/editor}}

<div class="factory">
    <div class="left-sidebar">
        <span>¡Sugerí tu pregunta!</span>
        <img src="../public/assets/willy.webp"/>
        <p>
            <span>¡Bienvenidos!</span>
            Yo soy Willy y estoy buscando una pregunta desafiante con cuatro opciones de respuesta.
            Si tenés en mente una pregunta interesante y sus respectivas opciones, por favor compartilas conmigo.
            <span>¡Gracias por tu participación!</span>
        </p>
    </div>
    <div class="container-form" id="form-container-question">
        <div class="redirect-to-lobby">
            <a href="/lobby/list">
                <img src="../public/assets/arrow-right.png"/>
                Ir al lobby
            </a>
        </div>
        <form method="post" class="form-container-question" id="form-question">
            <div class="form-field">
                <label class="form-label" for="categoria">Categoría:</label>
                <select class="form-select" id="categoria">
                    <option value="1">Ciencia</option>
                    <option value="2">Historia</option>
                    <option value="3">Arte</option>
                    <option value="4">Geografía</option>
                    <option value="5">Entretenimiento</option>
                    <option value="6">Deporte</option>
                </select>
                <span id="categoria-error" class="error"></span>
            </div>

            <div class="form-field">
                <label class="form-label" for="pregunta">Pregunta:</label>
                <input class="form-input" type="text" id="pregunta">
                <span id="pregunta-error" class="error"></span>
            </div>

            <div class="form-field">
                <label class="form-label" for="respuesta1">Respuesta 1:</label>
                <input class="form-input" type="text" id="respuesta1">
                <span id="respuesta1-error" class="error"></span>
            </div>

            <div class="form-field">
                <label class="form-label" for="respuesta2">Respuesta 2:</label>
                <input class="form-input" type="text" id="respuesta2">
                <span id="respuesta2-error" class="error"></span>
            </div>

            <div class="form-field">
                <label class="form-label" for="respuesta3">Respuesta 3:</label>
                <input class="form-input" type="text" id="respuesta3">
                <span id="respuesta3-error" class="error"></span>
            </div>


            <div class="form-field">
                <label class="form-label" for="respuesta4">Respuesta 4:</label>
                <input class="form-input" type="text" id="respuesta4">
                <span id="respuesta4-error" class="error"></span>
            </div>

            <div class="form-field">
                <label class="form-label" for="correcta">Respuesta Correcta:</label>
                <select class="form-select" id="correcta">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <span id="correcta-error" class="error"></span>
            </div>


            <div class="redirect" id="sendQuestion">
                <button class="button button-small" type="button" id="submitButton">Enviar</button>
            </div>

        </form>
    </div>
</div>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src='/public/scripts/changeQuestionColor.js'></script>
<script src='/public/scripts/questionSendAjax.js'></script>
<script src="/public/scripts/accordion.js"></script>
{{> footer}}
