{{> header}}

<div class="game">

    <div class="redirect-md">
        <a href="/lobby/list">
            <img src="../public/assets/arrow-right.png"/>
            Ir al lobby
        </a>
    </div>

    <div class="left-sidebar">

        <div class="profile">
            <img src="../public/profile-pictures/{{foto_perfil}}">
            <span>{{usuario}}</span>
        </div>
        <div class="answers">
            <span class="puntuacion">{{puntuacion}}</span>
            <span>Respuestas Correctas</span>
        </div>
    </div>

    <div class="block-reverse">
        <div class="right-sidebar">
            <div class="timer">
                <span>Cronómetro</span>
                <span id="cronometro">20</span>
            </div>
        </div>

        <div class="round">

            <div class="redirect-lg">
                <a href="/lobby/list">
                    <img src="../public/assets/arrow-right.png"/>
                    Ir al lobby
                </a>
            </div>

            <div class="categoryTitle">
                <span id="categoryName" style="color:{{categoryColor}}">
                    {{categoryName}}
                </span>
            </div>

            <div id="categoryColor" class="question" style="background-color:{{categoryColor}}">
                <span id="question">{{question}}</span>
            </div>

            <form id="form-game">
                <input type="hidden" id="id_question" name="idQuestion" value={{id_question}}>
                <button id="option_1" class="answer" name="option" value="{{id_opcion1}}">{{opcion1}}</button>
                <button id="option_2" class="answer" name="option" value="{{id_opcion2}}">{{opcion2}}</button>
                <button id="option_3" class="answer" name="option" value="{{id_opcion3}}">{{opcion3}}</button>
                <button id="option_4" class="answer" name="option" value="{{id_opcion4}}">{{opcion4}}</button>
            </form>

            <div class="container-link">
                <button id="reportBtn" class="report">Reportar esta pregunta</button>
            </div>
        </div>
    </div>

</div>

<audio id="audio-player" src="../public/audio/prueba.mp3" controls autoplay></audio>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>




<script src='../public/scripts/gameWithAjax.js'></script>


{{> footer}}
