{{> header}}
<!-- Quizzium Lobby -->
<div class="container max-width-phone">
    <img src="../public/assets/characters.png" class="characters">
    <div class="buttons-game" style="max-width: 90%">
        <a class="button btn-mid btn-high" href="/game/list" style="max-width: 90%;">Individual</a>
        <a class="button btn-mid btn-high" style="max-width: none;max-width: 90%">Multijugador</a>
    </div>


    {{#owner}}
        <div class="go-to-ranking" style="max-width: none;">
            <a href="/profile/list" class="profile">
                <div class="description">
                    <img src="../public/profile-pictures/{{foto_perfil}}">
                    <span>{{usuario}}</span>
                </div>
                <div class="position">
                    <span>{{rankingPosition}}</span>
                    <span>Posición</span>
                </div>
            </a>

            <div class="container-anchor" style="max-width: none">
                <a href="/ranking/list" class="button button-small"
                   style="margin-top: 20px; margin-bottom: 20px; max-width: none; width: 100%">
                    Ver Ranking
                </a>
            </div>
        </div>
    {{/owner}}

    <div class="container-anchor mainBtn-container" style="display: flex; gap: 1rem; justify-content: center; align-items: center; flex-wrap: wrap; max-width: 90%">

        <a href="/factory/list" class="button button-small button-orange mt-1"
           style="display: block; max-width: none; background-color: #800080">Ir
            a fábrica de preguntas</a>

        {{#editor}}
            <a href="/report/list" class="button button-small button-orange mt-1"
               style="display: block; max-width: none; background-color: #800080">Ir a preguntas
                reportadas</a>
        {{/editor}}

        {{#administrador}}
            <a href="/admin/list" class="button button-small button-orange mt-1"
               style="display: block; max-width: none; background-color: #800080">Vista
                administrador</a>
        {{/administrador}}

        <a class="button button-small mt-2 mb-2"
           style="max-width: none; margin-top: 16px; margin-bottom: 16px; background-color: red"
           href="/lobby/exit">Cerrar
            sesión</a>
    </div>


    <div class="container-box">

        <h2 class="titulo-historial">Historial de partidas</h2>

        <div class="container-cantidad-partidas">
            <label for="games_quantity">Mostrar: </label>

            <div style="display: inline-block; padding: 0px 10px">
                <select name="games_quantity" id="games_quantity">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>


            <label for="games_quantity"> partidas</label>

        </div>

        <ul class="historial" id="lista-partidas">

        </ul>

        <div class="paginator-container">

            <label id="paginator"></label>

            <div id="nav-paginator"></div>

        </div>


    </div>
</div>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src='../public/scripts/getGames.js'></script>

<!-- End Page Content -->
</div>
{{> footer}}