{{> header}}
<!-- Quizzium Lobby -->
<div class="container">
    <img src="../public/assets/characters.png" class="characters">

    <form action="/login/validate" method="post" enctype="multipart/form-data" class="login-area">

        {{#incorrect_data}}
            <div class="alert alert-error">
                <span class="title">Datos incorrectos</span>
                <span class="description">Asegurate que hayas ingresado los datos correctos.</span>
            </div>
        {{/incorrect_data}}

        {{#send_mail_to_validate}}
            <div class="alert alert-success">
                <span class="title">¡Estás a un paso!</span>
                <span class="description">Validá tu mail y comenzá a jugar</span>
            </div>
        {{/send_mail_to_validate}}

        {{#validated_account}}
            <div class="alert alert-success">
                <span class="title">Cuenta validada con éxito!</span>
                <span class="description">Ya podés ingresar con tu mail y contraseña.</span>
            </div>
        {{/validated_account}}

        {{#mail_not_validated}}
            <div class="alert alert-error">
                <span class="title">Validá tu cuenta</span>
                <span class="description">Te enviamos un mail a tu correo. Hacé click en el botón que se encuentra dentro del mail para validar tu cuenta.</span>
            </div>
        {{/mail_not_validated}}


        <div class="field">
            <label>Ingrese su mail</label>
            <input type="email" name="login[mail]" placeholder="Ingrese su mail" required/>
        </div>

        <div class="field">
            <label>Ingrese su contraseña</label>
            <input type="password" name="login[password]" placeholder="Ingrese su contraseña" required/>
        </div>

        <button type="submit" class="button button-small login-button">
            Ingresar
        </button>
    </form>

    <div class="container-link">
        <a href="/register/list">
            No tengo cuenta
            <img src="../public/assets/arrow-right.png"/>
        </a>
    </div>

</div>

<!-- End Page Content -->
</div>
{{> footer}}